extends layouts/main

block content

  .row
    .col.s6.offset-s3
      h1 Set new password

      if loginError && loginError.length
        p.alert= error

      form(action='/auth/password' method='POST')
        .input-field
          input#password.validate(type='password' name='password' required)
          label(for='password') New password
          span.helper-text(data-error='Enter password')

        input(type='hidden', name='_csrf' value= csrf)
        input(type='hidden', name='userId' value= userId)
        input(type='hidden', name='token' value= token)

        button.btn.btn-primary(type='submit') Update password
