extends layouts/main

block content

  .row
    .col.s6.offset-s3
      h1 Restore password

      if loginError && loginError.length
        p.alert= error

      form(action='/auth/reset' method='POST')
        .input-field
          input#email.validate(type='email' name='email' required)
          label(for='email') Email
          span.helper-text(data-error='Enter email')

        input(type='hidden', name='_csrf' value= csrf)

        button.btn.btn-primary(type='submit') Restore
